#include "resource.h"

/* ReactOS localization and module resources kept outside Wine-owned files. */
#define IDS_DEFTITLE 0
#define IDI_HHICON   100

#pragma code_page(65001)

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_CONTENTS     "&Contents"
    IDS_INDEX        "I&ndex"
    IDS_SEARCH       "&Search"
    IDS_FAVORITES    "Favor&ites"
    IDS_HIDETABS     "Hide &Tabs"
    IDS_SHOWTABS     "Show &Tabs"
    IDS_SELECT_TOPIC "Select Topic"
END

STRINGTABLE
BEGIN
    IDTB_EXPAND      "Show"
    IDTB_CONTRACT    "Hide"
    IDTB_STOP        "Stop"
    IDTB_REFRESH     "Refresh"
    IDTB_BACK        "Back"
    IDTB_HOME        "Home"
    IDTB_SYNC        "Sync"
    IDTB_PRINT       "Print"
    IDTB_OPTIONS     "Options"
    IDTB_FORWARD     "Forward"
END

MENU_POPUP MENU
{
    POPUP ""
    {
        MENUITEM "", IDTB_EXPAND
        MENUITEM "S&ync", IDTB_SYNC
        MENUITEM "&Back", IDTB_BACK
        MENUITEM "&Forward", IDTB_FORWARD
        MENUITEM "&Home", IDTB_HOME
        MENUITEM "&Stop", IDTB_STOP
        MENUITEM "&Refresh", IDTB_REFRESH
        MENUITEM "&Print...", IDTB_PRINT
    }
}

MENU_WEBBROWSER MENU
{
    POPUP ""
    {
        MENUITEM "&Back", IDTB_BACK
        MENUITEM "&Forward", IDTB_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "Select &All", MIID_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "&View Source", MIID_VIEWSOURCE
        MENUITEM SEPARATOR
        MENUITEM "&Print...", IDTB_PRINT
        MENUITEM "&Refresh", IDTB_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "Proper&ties", MIID_PROPERTIES
    }
    POPUP ""
    {
        MENUITEM "Cu&t", MIID_CUT
        MENUITEM "&Copy", MIID_COPY
        MENUITEM "Paste", MIID_PASTE
        MENUITEM "Select &All", MIID_SELECTALL
        MENUITEM "&Print", IDTB_PRINT
    }
}

#ifdef LANGUAGE_CS_CZ
#include "lang/Cs.rc"
#endif
#ifdef LANGUAGE_DA_DK
#include "lang/Da.rc"
#endif
#ifdef LANGUAGE_DE_DE
#include "lang/De.rc"
#endif
#ifdef LANGUAGE_EL_GR
#include "lang/El.rc"
#endif
#ifdef LANGUAGE_ES_ES
#include "lang/Es.rc"
#endif
#ifdef LANGUAGE_FI_FI
#include "lang/Fi.rc"
#endif
#ifdef LANGUAGE_FR_FR
#include "lang/Fr.rc"
#endif
#ifdef LANGUAGE_HE_IL
#include "lang/He.rc"
#endif
#ifdef LANGUAGE_HU_HU
#include "lang/Hu.rc"
#endif
#ifdef LANGUAGE_IT_IT
#include "lang/It.rc"
#endif
#ifdef LANGUAGE_JA_JP
#include "lang/Ja.rc"
#endif
#ifdef LANGUAGE_KO_KR
#include "lang/Ko.rc"
#endif
#ifdef LANGUAGE_LT_LT
#include "lang/Lt.rc"
#endif
#ifdef LANGUAGE_NL_NL
#include "lang/Nl.rc"
#endif
#ifdef LANGUAGE_NO_NO
#include "lang/No.rc"
#endif
#ifdef LANGUAGE_PL_PL
#include "lang/Pl.rc"
#endif
#ifdef LANGUAGE_PT_PT
#include "lang/Pt.rc"
#endif
#ifdef LANGUAGE_RO_RO
#include "lang/Ro.rc"
#endif
#ifdef LANGUAGE_RU_RU
#include "lang/Ru.rc"
#endif
#ifdef LANGUAGE_SL_SI
#include "lang/Si.rc"
#endif
#ifdef LANGUAGE_SQ_AL
#include "lang/Sq.rc"
#endif
#ifdef LANGUAGE_SV_SE
#include "lang/Sv.rc"
#endif
#ifdef LANGUAGE_TR_TR
#include "lang/Tr.rc"
#endif
#ifdef LANGUAGE_UK_UA
#include "lang/Uk.rc"
#endif
#ifdef LANGUAGE_ZH_CN
#include "lang/Zh.rc"
#endif

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define WINE_FILEDESCRIPTION_STR "Wine htmlhelp OCX"
#define WINE_FILENAME_STR "hhctrl.ocx"
#define WINE_FILEVERSION 5,2,3790,2744
#define WINE_FILEVERSION_STR "5.2.3790.2744"
#define WINE_PRODUCTVERSION 5,2,3790,2744
#define WINE_PRODUCTVERSION_STR "5.2.3790.2744"

#include "wine/wine_common_ver.rc"

IDI_HHICON ICON "res/hh.ico"

IDB_HHTOOLBAR BITMAP "hhtoolbar.bmp"
IDB_HHTREEVIEW BITMAP "hhtreeview.bmp"

1 TYPELIB "hhctrl_tlb.tlb"
1 WINE_REGISTRY "hhctrl_tlb.rgs"
