/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2026 Ahmed Arif
 */

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_STARTMENU_RENAME DIALOGEX 0, 0, 240, 68
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rename"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT "&Name:", -1, 8, 9, 224, 10
    EDITTEXT IDC_STARTMENU_NAME, 8, 22, 224, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 124, 46, 52, 14
    PUSHBUTTON "Cancel", IDCANCEL, 180, 46, 52, 14
END
