/*
 * PROJECT:         ReactOS Raspberry Pi 5 HDMI Audio Driver
 * LICENSE:         GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * COPYRIGHT:       Copyright 2026 Ahmed Arif <arif193@gmail.com>
 */

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR         "Raspberry Pi 5 HDMI Audio Driver"
#define VER_INTERNALNAME_STR            "rpi5hdmi"
#define VER_ORIGINALFILENAME_STR        "rpi5hdmi.sys"

#include "common.ver"
