#include <windef.h>
#include <winuser.h>
#include <commctrl.h>

#include "resource.h"

#define REACTOS_STR_FILE_DESCRIPTION  "ReactOS Explorer"
#define REACTOS_STR_INTERNAL_NAME     "explorer"
#define REACTOS_STR_ORIGINAL_FILENAME "explorer.exe"
#include <reactos/version.rc>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/*******************************************************************************\
|*                               Icon Resources                                *|
\*******************************************************************************/

IDI_MAIN            ICON "res/ico/100.ico"
IDI_CABINET         ICON "res/ico/101.ico"
IDI_PRINTER         ICON "res/ico/102.ico"
IDI_DESKTOP         ICON "res/ico/103.ico"
IDI_PRINTER_PROBLEM ICON "res/ico/104.ico"
IDI_STARTMENU       ICON "res/ico/107.ico"
IDI_RECYCLEBIN      ICON "res/ico/108.ico"
IDI_SHOWINFO        ICON "res/ico/109.ico"
IDI_SHOWALERT       ICON "res/ico/110.ico"
IDI_SHOWERROR       ICON "res/ico/111.ico"
IDI_COMPUTER        ICON "res/ico/205.ico"
IDI_ARROWLEFT       ICON "res/ico/250.ico"
IDI_ARROWRIGHT      ICON "res/ico/251.ico"
IDI_FOLDER          ICON "res/ico/252.ico"
IDI_INTERNET        ICON "res/ico/253.ico"
IDI_MAIL            ICON "res/ico/254.ico"
IDI_MAILSMALL       ICON "res/ico/256.ico"
IDI_STARTMENU2      ICON "res/ico/257.ico"
IDI_STARTORB        ICON "res/ico/258.ico"
IDI_FLU_WIFI1       ICON "res/ico/fluent/wifi_1.ico"
IDI_FLU_WIFI2       ICON "res/ico/fluent/wifi_2.ico"
IDI_FLU_WIFI3       ICON "res/ico/fluent/wifi_3.ico"
IDI_FLU_WIFI4       ICON "res/ico/fluent/wifi_4.ico"
IDI_FLU_WIFIOFF     ICON "res/ico/fluent/wifi_off.ico"
IDI_FLU_PLUG        ICON "res/ico/fluent/plug_connected.ico"
IDI_FLU_SETTINGS    ICON "res/ico/fluent/settings.ico"
IDI_FLU_REFRESH     ICON "res/ico/fluent/arrow_clockwise.ico"
IDI_FLU_GLOBE       ICON "res/ico/fluent/globe.ico"
IDI_FLU_SPK0        ICON "res/ico/fluent/speaker_0.ico"
IDI_FLU_SPK1        ICON "res/ico/fluent/speaker_1.ico"
IDI_FLU_SPK2        ICON "res/ico/fluent/speaker_2.ico"
IDI_FLU_SPKMUTE     ICON "res/ico/fluent/speaker_mute.ico"
IDI_FLU_SQUARE      ICON "res/ico/fluent/square_regular.ico"
IDI_FLU_SQUAREMULTI ICON "res/ico/fluent/square_multiple_regular.ico"
IDI_FLU_GRID        ICON "res/ico/fluent/grid_filled.ico"
IDI_FLU_GRIDREG     ICON "res/ico/fluent/grid_regular.ico"
IDI_FLU_LIST        ICON "res/ico/fluent/text_bullet_list_ltr_filled.ico"
IDI_FLU_NAVIGATION  ICON "res/ico/fluent/navigation_filled.ico"
IDI_FLU_TILES       ICON "res/ico/fluent/apps_list_detail_filled.ico"
IDI_FLU_COPYICO     ICON "res/ico/fluent/copy_filled.ico"
IDI_FLU_CUTICO      ICON "res/ico/fluent/cut_filled.ico"
IDI_FLU_PASTEICO    ICON "res/ico/fluent/clipboard_paste_filled.ico"
IDI_FLU_DELETEICO   ICON "res/ico/fluent/delete_filled.ico"
IDI_FLU_RENAME      ICON "res/ico/fluent/rename_filled.ico"
IDI_FLU_FOLDERADD   ICON "res/ico/fluent/folder_add_filled.ico"
IDI_FLU_FOLDEROPEN  ICON "res/ico/fluent/folder_open_filled.ico"
IDI_FLU_OPTIONS     ICON "res/ico/fluent/options_filled.ico"
IDI_FLU_PIN         ICON "res/ico/fluent/pin_filled.ico"
IDI_FLU_LINK        ICON "res/ico/fluent/link_filled.ico"
IDI_FLU_WRENCH      ICON "res/ico/fluent/wrench_filled.ico"
IDI_FLU_HARDDRIVE   ICON "res/ico/fluent/hard_drive_filled.ico"
IDI_FLU_DESKTOP     ICON "res/ico/fluent/desktop_filled.ico"
IDI_FLU_DOCUMENT    ICON "res/ico/fluent/document_filled.ico"
IDI_FLU_SEARCH      ICON "res/ico/fluent/search_filled.ico"
IDI_FLU_ARROWLEFT   ICON "res/ico/fluent/arrow_left_filled.ico"
IDI_FLU_ARROWRIGHT  ICON "res/ico/fluent/arrow_right_filled.ico"
IDI_FLU_ARROWUP     ICON "res/ico/fluent/arrow_up_filled.ico"
IDI_FLU_CHEVDOWN    ICON "res/ico/fluent/chevron_down_filled.ico"
IDI_FLU_CHEVUP      ICON "res/ico/fluent/chevron_up_filled.ico"
IDI_FLU_CHEVRIGHT   ICON "res/ico/fluent/chevron_right_filled.ico"
IDI_FLU_PLAYCIRCLE  ICON "res/ico/fluent/play_circle_filled.ico"
IDI_FLU_UNINSTALL   ICON "res/ico/fluent/uninstall_app_filled.ico"
IDI_FLU_DESKCHECK   ICON "res/ico/fluent/desktop_checkmark_filled.ico"
IDI_FLU_FOLDERMONO  ICON "res/ico/fluent/folder_filled.ico"
IDI_FLU_LOCK        ICON "res/ico/fluent/lock_closed.ico"
IDI_FLU_AIRPLANE    ICON "res/ico/fluent/airplane.ico"
IDI_FLU_WIFIWARN    ICON "res/ico/fluent/wifi_warning.ico"
IDI_FLU_BATT0       ICON "res/ico/fluent/battery_0.ico"
IDI_FLU_BATT1       ICON "res/ico/fluent/battery_2.ico"
IDI_FLU_BATT2       ICON "res/ico/fluent/battery_5.ico"
IDI_FLU_BATT3       ICON "res/ico/fluent/battery_7.ico"
IDI_FLU_BATT4       ICON "res/ico/fluent/battery_10.ico"
IDI_FLU_BATTCHG     ICON "res/ico/fluent/battery_charge.ico"
IDI_FLU_BATTWARN    ICON "res/ico/fluent/battery_warning.ico"
IDI_FLU_NETADAPTER  ICON "res/ico/fluent/network_wired.ico"
IDI_FLU_ADD         ICON "res/ico/fluent/add_filled.ico"


/*******************************************************************************\
|*                               Bitmap Resources                              *|
\*******************************************************************************/

IDB_START                           BITMAP "res/bmp/143.bmp"
IDB_TASKBARPROP_AUTOHIDE            BITMAP "res/bmp/145.bmp"
IDB_TASKBARPROP_LOCK_GROUP_QL       BITMAP "res/bmp/146.bmp"
IDB_TASKBARPROP_NOLOCK_GROUP_QL     BITMAP "res/bmp/147.bmp"
IDB_TASKBARPROP_LOCK_NOGROUP_QL     BITMAP "res/bmp/148.bmp"
IDB_TASKBARPROP_NOLOCK_NOGROUP_QL   BITMAP "res/bmp/149.bmp"
IDB_TASKBARPROP_LOCK_GROUP_NOQL     BITMAP "res/bmp/150.bmp"
IDB_TASKBARPROP_NOLOCK_GROUP_NOQL   BITMAP "res/bmp/151.bmp"
IDB_TASKBARPROP_LOCK_NOGROUP_NOQL   BITMAP "res/bmp/152.bmp"
IDB_TASKBARPROP_NOLOCK_NOGROUP_NOQL BITMAP "res/bmp/153.bmp"
IDB_SYSTRAYPROP_SHOW_SECONDS_NODESK BITMAP "res/bmp/154.bmp"
IDB_SYSTRAYPROP_HIDE_SECONDS_NODESK BITMAP "res/bmp/155.bmp"
IDB_STARTMENU                       BITMAP "res/bmp/158.bmp"
IDB_STARTPREVIEW                    BITMAP "res/bmp/170.bmp"
IDB_STARTPREVIEW_CLASSIC            BITMAP "res/bmp/171.bmp"
IDB_SYSTRAYPROP_HIDE_CLOCK_NODESK   BITMAP "res/bmp/180.bmp"
IDB_SYSTRAYPROP_HIDE_NOCLOCK_NODESK BITMAP "res/bmp/181.bmp"
IDB_SYSTRAYPROP_SHOW_CLOCK_NODESK   BITMAP "res/bmp/182.bmp"
IDB_SYSTRAYPROP_SHOW_NOCLOCK_NODESK BITMAP "res/bmp/183.bmp"
IDB_SYSTRAYPROP_SHOW_SECONDS_DESK   BITMAP "res/bmp/184.bmp"
IDB_SYSTRAYPROP_HIDE_SECONDS_DESK   BITMAP "res/bmp/185.bmp"
IDB_SYSTRAYPROP_HIDE_CLOCK_DESK     BITMAP "res/bmp/186.bmp"
IDB_SYSTRAYPROP_HIDE_NOCLOCK_DESK   BITMAP "res/bmp/187.bmp"
IDB_SYSTRAYPROP_SHOW_CLOCK_DESK     BITMAP "res/bmp/188.bmp"
IDB_SYSTRAYPROP_SHOW_NOCLOCK_DESK   BITMAP "res/bmp/189.bmp"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "explorer.exe.manifest"

STRINGTABLE
BEGIN
    //IDS_HELP_COMMAND "helpctr.exe>-FromStartHelp"
    IDS_HELP_COMMAND "https://reactos.org/"
END

IDA_TASKBAR  ACCELERATORS
BEGIN
    "s", IDMA_START, ALT
    VK_F6, IDMA_CYCLE_FOCUS, VIRTKEY
    VK_TAB, IDMA_CYCLE_FOCUS, VIRTKEY
    VK_TAB, IDMA_CYCLE_FOCUS, VIRTKEY, CONTROL
    VK_TAB, IDMA_CYCLE_FOCUS, VIRTKEY, SHIFT
    VK_TAB, IDMA_CYCLE_FOCUS, VIRTKEY, CONTROL, SHIFT
    VK_F3, IDMA_SEARCH, VIRTKEY
    //VK_F5, 41061, VIRTKEY
    VK_RETURN, IDM_TASKBARANDSTARTMENU, VIRTKEY, ALT
    "Z", IDMA_RESTORE_OPEN, VIRTKEY, CONTROL
    "M", IDMA_MINIMIZE_ALL, VIRTKEY, ALT
END

/*******************************************************************************\
|*                         Language dependent Resources                        *|
\*******************************************************************************/

/* UTF-8 */
#pragma code_page(65001)

#ifdef LANGUAGE_BG_BG
    #include "lang/bg-BG.rc"
#endif
#ifdef LANGUAGE_CS_CZ
    #include "lang/cs-CZ.rc"
#endif
#ifdef LANGUAGE_DE_DE
    #include "lang/de-DE.rc"
#endif
#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif
#ifdef LANGUAGE_ES_ES
    #include "lang/es-ES.rc"
#endif
#ifdef LANGUAGE_ET_EE
    #include "lang/et-EE.rc"
#endif
#ifdef LANGUAGE_EU_ES
    #include "lang/eu-ES.rc"
#endif
#ifdef LANGUAGE_FI_FI
    #include "lang/fi-FI.rc"
#endif
#ifdef LANGUAGE_FR_FR
    #include "lang/fr-FR.rc"
#endif
#ifdef LANGUAGE_HE_IL
    #include "lang/he-IL.rc"
#endif
#ifdef LANGUAGE_HI_IN
    #include "lang/hi-IN.rc"
#endif
#ifdef LANGUAGE_HU_HU
    #include "lang/hu-HU.rc"
#endif
#ifdef LANGUAGE_ID_ID
    #include "lang/id-ID.rc"
#endif
#ifdef LANGUAGE_IT_IT
    #include "lang/it-IT.rc"
#endif
#ifdef LANGUAGE_JA_JP
    #include "lang/ja-JP.rc"
#endif
#ifdef LANGUAGE_KO_KR
    #include "lang/ko-KR.rc"
#endif
#ifdef LANGUAGE_LT_LT
    #include "lang/lt-LT.rc"
#endif
#ifdef LANGUAGE_MS_MY
    #include "lang/ms-MY.rc"
#endif
#ifdef LANGUAGE_NL_NL
    #include "lang/nl-NL.rc"
#endif
#ifdef LANGUAGE_NB_NO
    #include "lang/no-NO.rc"
#endif
#ifdef LANGUAGE_PL_PL
    #include "lang/pl-PL.rc"
#endif
#ifdef LANGUAGE_RO_RO
    #include "lang/ro-RO.rc"
#endif
#ifdef LANGUAGE_PT_BR
    #include "lang/pt-BR.rc"
#endif
#ifdef LANGUAGE_PT_PT
    #include "lang/pt-PT.rc"
#endif
#ifdef LANGUAGE_RU_RU
    #include "lang/ru-RU.rc"
#endif
#ifdef LANGUAGE_SK_SK
    #include "lang/sk-SK.rc"
#endif
#ifdef LANGUAGE_SQ_AL
    #include "lang/sq-AL.rc"
#endif
#ifdef LANGUAGE_TR_TR
    #include "lang/tr-TR.rc"
#endif
#ifdef LANGUAGE_UK_UA
    #include "lang/uk-UA.rc"
#endif
#ifdef LANGUAGE_VI_VN
    #include "lang/vi-VN.rc"
#endif
#ifdef LANGUAGE_ZH_CN
    #include "lang/zh-CN.rc"
#endif
#ifdef LANGUAGE_ZH_HK
    #include "lang/zh-HK.rc"
#endif
#ifdef LANGUAGE_ZH_TW
    #include "lang/zh-TW.rc"
#endif
