/* Translator: Ștefan Fulea (stefan dot fulea at mail dot com) */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

STRINGTABLE
{
    STRING_COMMAND_NOT_SUPPORTED, "Eroare: Comandă nerecunoscută.\n"
    STRING_ALIAS_NOT_FOUND, "Eroare: Alias necunoscut.\n"
    STRING_INVALID_QUERY, "Eroare: Cerere nevalidă.\n"
    STRING_INVALID_PATH, "Eroare: Conținutul din «PATH» este sintactic nevalid.\n"
    STRING_USAGE, "Supply a command\n"
    STRING_HELP, "Example usage: wmic ALIAS get PROPERTY[,PROPERTY2,...]\n"
}
