/* TRANSLATOR: 2015 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL

STRINGTABLE
{
    STRING_COMMAND_NOT_SUPPORTED, "Hata: Komut yatacı desteklenmiyor\n"
    STRING_ALIAS_NOT_FOUND, "Hata: Başka ad bulunamadı\n"
    STRING_INVALID_QUERY, "Hata: Geçersiz sorgu\n"
    STRING_INVALID_PATH, "YOL için geçersiz söz dizimi.\n"
    STRING_USAGE, "Supply a command\n"
    STRING_HELP, "Example usage: wmic ALIAS get PROPERTY[,PROPERTY2,...]\n"
}
