LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_SUCCESS "The operation completed successfully."
    IDS_FAILED "Installation failed."
    IDS_UNSUPPORTED "The INF file you selected does not support this method of installation."
    IDS_USAGE "Usage: InfDefaultInstall.exe <INF file>"
END
